<div class="container">
	<h1>Middle Ages    <small> Últimos posts</small></h1>
	<hr />
	<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
</head>
<body>

<ul class="example-orbit" data-orbit> 
    <li> 
        <img src="http://38.media.tumblr.com/82526590d126295e50802d44033d0a24/tumblr_n54kzvxcjD1rqxd5ko1_1280.jpg" alt="slide 1" /> 
        <div class="orbit-caption"> 
        Caption One. 
            </div> 
    </li>
        <li class="active"> 
        <img src="http://38.media.tumblr.com/a2e55a393e452cb8e0265347af759b33/tumblr_n6auwluuLw1rqxd5ko1_1280.jpg" alt="slide 2" />
        <div class="orbit-caption"> 
        Caption Two. 
    </div> 
    </li> 
    <li>
        <img src="http://38.media.tumblr.com/27e69274bb090b7c2a244911251d349f/tumblr_msrmkukUod1rqxd5ko1_1280.jpg" alt="slide 3" /> 
        <div class="orbit-caption"> 
        Caption Three. 
        </div> 
    </li> 
</ul>

</body>
</html>


	<% @posts.each do |post| %>

		<div class="row">
			<h3><%= post.title %></h3>
			<p><%= post.text %></p>

            <ul class="button-group">
    			
                <li><a <%= link_to 'Show ', post_path(post), class: "button small" %>
                </a></li>
    		

            
              <li><a <%= link_to 'Destroy', post, method: :delete,class:"button small" %> </a></li>

            
            </ul>

		<hr/>
	<% end %>

</div>

<div class="row">
	<%= link_to 'Nuevo Post', new_post_path, class: "button large-12 columns expand" %>
</div>

