<div class="container">
	<h1> El blog del Medievo  <small> Últimos posts</small></h1>
	<hr />
	<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
</head>
<body>

<ul class="example-orbit" data-orbit> 

    <div class="flex-video widescreen vimeo"> <iframe src="http://player.vimeo.com/video/75803869" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
    </div>
    <li> 
        <img src="http://38.media.tumblr.com/82526590d126295e50802d44033d0a24/tumblr_n54kzvxcjD1rqxd5ko1_1280.jpg" alt="slide 1" /> 
        <div class="orbit-caption"> 
        
        Hunt of the Unicorn - 'Ormesby Psalter', England ca. 1300.
            </div> 
    </li>
        <li class="active"> 
        <img src="http://38.media.tumblr.com/408caded6b887e3e1bf03ae4839966a6/tumblr_mjx8nlKp6V1rqxd5ko1_1280.jpg" />
        <div class="orbit-caption"> 
        Biblia Porta, France 13th century. 
    </div> 
    </li> 
    <li>
        <img src="http://38.media.tumblr.com/72254efb65923806196eaef072832ea7/tumblr_n7c4tv6kD31rqxd5ko1_1280.jpg" /> 
        <div class="orbit-caption"> 
        Lion Knight and Monkey Squire -'London Rothschild Hours', Netherlands ca. 1500. 
        </div> 
    </li> 
    
</ul>

</body>
</html>


	<% @posts.each do |post| %>

		<div class="row">
			<h3><%= post.title %></h3>
			<p><%= post.text %></p>

            <ul class="button-group">
    			
                <li><a <%= link_to 'Show ', post_path(post), class: "button small" %>
                </a></li>
    		

            
              <li><a <%= link_to 'Destroy', post, method: :delete,class:"button small" %> </a></li>

            
            </ul>

		<hr/>
	<% end %>

</div>

<div class="row">
	<%= link_to 'Nuevo Post', new_post_path, class: "button large-12 columns expand" %>
</div>

