<div class="container">
	<h1> Mi super Blog!  <small> Últimos posts</small></h1>
	<hr />
    
    
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    
</head>
<body>

<ul class="example-orbit" data-orbit> 
     
    <div class="flex-video widescreen vimeo"> <iframe src="http://player.vimeo.com/video/75803869" width="20" height="auto" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 

    
    </div>
    
        <li class="active"> 
        <img src="http://31.media.tumblr.com/f2bd5df1232713467c053bd3e45c634b/tumblr_n4ai6lK3Tr1rqxd5ko1_1280.jpg" />
        <div class="orbit-caption"> 
        Easter Bunny - 'Sforza Hours', Milan 1490
    </div> 
    </li> 


    <li class="active"> 
        <img src="http://37.media.tumblr.com/402eaa529e1ba04a43d5be50c1214f05/tumblr_mt9vwktEq81rqxd5ko1_1280.jpg" />
        <div class="orbit-caption"> 
       Watership DownLuttrell Psalter, England ca. 1325-1340. British Library, Add 42130, fol. 176v
    </li> 


    <li class="active"> 
        <img src="http://38.media.tumblr.com/27e69274bb090b7c2a244911251d349f/tumblr_msrmkukUod1rqxd5ko1_1280.jpg"> 
        <div class="orbit-caption"> 
       Alexander the Great vs. bats and rats- Le Livre et le vraye hystoire du bon roy Alixandre, France 1420.
    </li> 

    <li class="active"> 
        <img src="http://37.media.tumblr.com/ecb32977cbeb524d1e4505394b326b60/tumblr_mtbvcfVOXZ1rqxd5ko1_1280.jpg" />
        <div class="orbit-caption"> 
       Hounds - De Natura animalium, Cambrai ca. 1270.
    </li> 

    <li class="active"> 
        <img src="http://37.media.tumblr.com/c1d28d768ff430af3733f80cfaec90b4/tumblr_mfwzphfqWi1rqxd5ko1_1280.jpg" />
        <div class="orbit-caption"> 
       Roman d’Alexandre, Tournai, 1338-1344.
    </li> 

    <li class="active"> 
        <img src="http://38.media.tumblr.com/tumblr_m7pwz8jhnX1rqxd5ko1_1280.png" />
        <div class="orbit-caption"> 
       Roman d’Alexandre, Tournai, 1338-1344.
    </li> 
    
    
</ul>

</body>

</html>


    <% @posts.each do |post| %>

		<div class="row">
			<h3><%= post.title %></h3>
			<p><%= post.text %></p>

            <ul class="button-group">
    			
                <li><a <%= link_to 'Show ', post_path(post), class: "button small" %>
                </a></li>
    		
              <li><a <%= link_to 'Destroy', post, method: :delete,class:"button small" %> </a></li>

            </ul>

		<hr/>
	<% end %>

</div>

<div class="row">
	<%= link_to 'Nuevo Post', new_post_path, class: "button large-12 columns expand" %>
</div>

